@font-face {
    font-family: 'Open Sans';
    src: url('../font/OpenSans/OpenSans-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../font/OpenSans/OpenSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../font/OpenSans/OpenSans-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../font/OpenSans/OpenSans-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../font/OpenSans/OpenSans-Light.ttf') format('truetype');
    font-weight: 300;
}