// Container Styles

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

@media only screen and (max-width: 1200px) {
    .container {
        max-width: 920px;
    }
}

@media only screen and (max-width: 920px) {
    .container {
        max-width: 700px;
    }
}

@media only screen and (max-width: 700px) {
    .container {
        max-width: 400px;
    }
}

@media only screen and (max-width: 440px) {
    .container {
        max-width: 360px;
    }
}


